doctype html
html
  head
    title Word Scramble
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width", initial-scale="1")
    link(rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Libre+Baskerville' type='text/css')
    link(rel="stylesheet" href="assets/css/styles.css")
  body(ng-app="wordscrambleapp" ng-controller="WordScrambleCtrl")
    .row.center-vertical
      .columns.small-12.text-center(keydown)
        .tile-wrapper
          .tile.faded(ng-repeat="letter in lettersScrambled track by $index") {{ letter }}
          .tile-wrapper.absolute
            .tile.active(ng-repeat="letter in lettersEntered track by $index", ng-class="{ correct: correct, incorrect: incorrect }") {{ letter }}
      .columns.small-12.text-center
        .info-wrapper {{ countdown }}s left&nbsp&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp&nbsp{{ score }}pts
    .modal-wrapper(ng-class="{ toggle: doneToggled }")
      .modal-background
      .modal.center-vertical
        | Your got {{score}} points!
        br
        .tweet
          a(href="https://twitter.com/intent/tweet?text=I%20got%20{{ score }}%20points!%20http://goo.gl/7B4in4", target="_blank")
            | Tweet your score 
            i.fa.fa-twitter
        .my-button(ng-click="reset()") PLAY AGAIN
    .footer Made by 
      a(href="http://aldogomez.me", target="_blank") Aldo Gomez
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js")
    script(src="app/app.min.js")