@font-face {
  font-family: "Circular";
  font-weight: 300;
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: "Circular";
  font-weight: 400;
  src: url("../fonts/CircularStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Circular";
  font-weight: 500;
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Circular";
  font-weight: 600;
  src: url("../fonts/CircularStd-Black.otf") format("opentype");
}


html, body {
  min-height: 100vh;
  width: 100%;
  background-color: #F2F2F2;
  font-size: 16px;
}

.tile {
  display: inline-block;
  height: 80px;
  width: 80px;
  color: #FFFFFF;
  background-color: #F2F2F2;
  text-align: center;
  line-height: 80px;
  font-family: "Circular";
  font-weight: 600;
  font-size: 60px;
  margin-left: 5px;
  margin-right: 5px;
  border: 3px solid transparent;
  box-sizing: content-box;
}

.tile.faded {
  color: #292929;
  background-color: transparent;
}

.tile.active {
  opacity: 1;
  color: #2700FC;
  background-color: #F2F2F2;
  border: 3px solid #2700FC;
}

.tile.faded.ng-enter {
  opacity: 0;
  transition: all .175s ease-in-out;
}

.tile.faded.ng-enter-active {
  opacity: 1;
}

.tile.faded.ng-leave {
  opacity: 1;
  transition: all .175s ease-in-out;
}

.tile.faded-ng-leave-active {
  opacity: 0;
}

.tile.active.ng-enter {
  opacity: 0;
  transition: all .175s ease-in-out;
}

.tile.active.ng-enter-active {
  opacity: 1;
}

.tile.active.ng-leave {
  opacity: 1;
  transition: all .175s ease-in-out;
}

.tile.active.ng-leave-active {
  opacity: 0;
}

@-webkit-keyframes anim-correct {
  0% {
    background: transparent;
  }
  
  50% {
    background: #1DE9B6;
    border-color: #1DE9B6;
    color: #F2F2F2;
  }


  100% {
    background: transparent;
  }
}

.correct {
  -webkit-animation: anim-correct 1s;
}

@-webkit-keyframes anim-incorrect {
  0% {
    background: transparent;
  }
  
  50% {
    background: #FF1744;
    border-color: #FF1744;
    color: #F2F2F2;
  }


  100% {
    background: transparent;
  }
}

.incorrect {
  -webkit-animation: anim-incorrect 1s;
}

.tile-wrapper {
  width: auto;
  display: inline-block;
  position: relative;
}

.tile-wrapper.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.info-wrapper {
  margin-top: 1rem;
  font-weight: 600;
  color: #9F9F9F;
  font-size: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  color: #9F9F9F;
  width: 100%;
  margin-bottom: 1rem;
}

a, a:visited {
  color: #2700FC;
  transition: all .175s ease-in-out;
}

a:hover {
  color: #FF1744;
}

.modal-wrapper.toggle {
  opacity: 1;
}

.modal-wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .175s ease-in-out;
}

.modal-background {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .5;
  background-color: #000000;
}

.modal {
  background-color: #F2F2F2;
  padding: 2rem;
  position: relative;
  z-index: 4;
  width: 400px;
  margin: 0 auto 0 auto;
  font-size: 1.414rem;
  font-weight: 600;
  color: #292929;
  text-align: center;
}

.modal .tweet {
  font-size: 1rem;
  color: #9F9F9F;
}

.my-button {
  box-sizing: content-box;
  width: 150px;
  height: 50px;
  border: 3px solid #2700FC;
  background-color: transparent;
  line-height: 50px;
  margin: 2.5rem auto 0 auto;
  font-size: 1rem;
  color: #2700FC;
  transition: all .175s ease-in-out;
  cursor: pointer;
}

.my-button:hover {
  background-color: #2700FC;
  color: #FFFFFF;